{% extends "base.html" %}
{% block content %}

<h2>👥 Registered Shopkeepers</h2>

<table class="table table-bordered mt-4">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for s in shopkeepers %}
        <tr>
            <td>{{ s[0] }}</td>
            <td>{{ s[1] }}</td>
            <td>
                <a href="/delete_user/{{ s[0] }}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Delete this user?')">
                   Delete
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}